body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      font-size: 10px;
}

.header {
      background: #212E45;
      color: #ffffff;
}

.header div {
      padding: 10px 10px;
}

.bank-table {
      margin: 0 auto;
      border: 1px solid #CCCCCC;
      margin-top: 2%;
      left: 50%;
      transform: translatex(-50%);
}

.bank-entry-container, .bank-entry-item div, .account-entry-item {
      display: -webkit-inline-box;
}

.bank-entry-container {
      height: 60px;
      border-bottom: 1px solid #CCCCCC;
}

.account-entry-container {
      padding-top: 5px;
      padding-bottom: 5px;
}

.bank-entry-item span {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
}

.account-entry-item {}

.account-entry-item span {
      position: inherit;
}

.account-entry-item span div {
      padding: 0;
}

.account-title-container {
      border-bottom: 1px solid #CCCCCC;
      padding-bottom: 5px;
}

/* Icon */

.fav-ico {
      width: 20px;
}

.icon-red {
      color: red;
}

.icon-star {
      color: #08718A;
}

.chevron {
      color: black;
}

.name-shorten span {
      font-size: 1.8em;
      color: gray;
}

/*  */

.transactions-amount-red {
      color: red;
}

/*  */

.pagination {
      position: inherit;
      left: 50%;
      -webkit-transform: translatex(-50%);
      -ms-transform: translatex(-10%);
      transform: translatex(-50%);
}

.pagination li {
      /* padding: 5px; */
}

/* ---------------------------------------- FRONT PAGE ---------------------------------------- */

.nav-bar {
      background: #212E45;
      border-color: #212e45;
      margin: 0 auto;
}

.nav-bar div.container {
      padding: 0 !important;
      margin: 0 auto;
      margin-left: 10% !important;
      color: #000000;
}

.navbar-brand {
      color: #FFFFFF !important;
}

* {
      box-sizing: border-box;
}

.video-background {
      background: #000;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -99;
}

.video-foreground, .video-background iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
}

#vidtop-content {
      color: #fff;
}

.vid-info {
      width: 33%;
      background: rgba(0, 0, 0, 0.3);
      color: #fff;
      padding: 1rem;
      font-family: Avenir, Helvetica, sans-serif;
      position: absolute;
      top: 70%;
      left: 36%;
      margin-top: -50px;
      margin-left: -50px;
}

.vid-info h1 {
      font-size: 2rem;
      font-weight: 700;
      margin-top: 0;
      line-height: 1.2;
}

.vid-info a {
      display: block;
      color: #fff;
      text-decoration: none;
      background: rgba(0, 0, 0, 0.5);
      transition: .6s background;
      border-bottom: none;
      margin: 1rem auto;
      text-align: center;
}

@media (min-aspect-ratio: 16/9) {
      .video-foreground {
            height: 300%;
            top: -100%;
      }
}

@media (max-aspect-ratio: 16/9) {
      .video-foreground {
            width: 300%;
            left: -100%;
      }
}

@media all and (max-width: 600px) {
      .vid-info {
            width: 50%;
            padding: .5rem;
      }
      .vid-info h1 {
            margin-bottom: .2rem;
      }
}

@media all and (max-width: 500px) {
      .vid-info .acronym {
            display: none;
      }
}
